.sliderCompWrapper {
    margin-top: 20px;

    .slider-item {
        display: flex !important;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 50vh;
        }

    }
}